!!!5
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %meta{:name => 'description', :content => ''}
    %link{:rel => 'icon', :type => 'image/vnd.microsoft.icon', :href => '/favicon.ico'}
    %link{:rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon', :href => '/favicon.ico'}
    <!--[if ! lte IE 6]><!-->
    %link{:rel => 'stylesheet', :href => '/stylesheets/muhlecustomcontracting.css', :media => 'screen, projection', :type => 'text/css'}
    <!--<![endif]-->
    <!--[if lte IE 6]><!-->
    %link{:rel=>'stylesheet', :href=>'http://universal-ie6-css.googlecode.com/files/ie6.1.1.css', :media => 'screen, projection', :type => 'text/css'}
    <!--<![endif]-->
    /[if lt IE 9]
      %script{:type => 'text/javascript', :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/muhlecustomcontracting.js'}
    :javascript
    
      /* Initiate the application javascript and run */
      $(document).ready(function(){
      
        muhlecustomcontracting.run();
      
      });
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9687987-19']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %title Muhle Custom Contracting
  %body
    .container
      %header
        .background
          %img{:src => '/images/backgrounds/background_1.png', :alt => 'background_1'}
          %img{:src => '/images/backgrounds/background_2.png', :alt => 'background_2'}
          %img{:src => '/images/backgrounds/background_3.png', :alt => 'background_3'}
          %img{:src => '/images/backgrounds/background_4.png', :alt => 'background_4'}
          %img{:src => '/images/backgrounds/background_5.png', :alt => 'background_5'}
          %img{:src => '/images/backgrounds/background_6.png', :alt => 'background_6'}
          %img{:src => '/images/backgrounds/background_7.png', :alt => 'background_7'}
          %img{:src => '/images/backgrounds/background_8.png', :alt => 'background_8'}
        .banner
        .logo
          %a{:href => '/', :title => 'Muhle Custom Contracting'} 
            Muhle Custom Contracting
            %img{:src => '/images/logo.png', :alt => 'logo'}
        .nav
          %nav
            %a{:href => '/home', :title => 'Home', :class => "#{'selected' if params[:section] == 'home'}"} Home
            %a{:href => '/about', :title => 'About', :class => "#{'selected' if params[:section] == 'about'}"} About
            %a{:href => '/custom_homes', :title => 'Custom Homes', :class => "#{'selected' if params[:section] == 'custom_homes'}"} Custom Homes
            %a{:href => '/remodels', :title => 'Remodels', :class => "#{'selected' if params[:section] == 'remodels'}"} Remodels
            %a{:href => '/virtual_tour', :title => 'Virtual Tour', :class => "#{'selected' if params[:section] == 'virtual_tour'}"} Virtual Tour
            %a{:href => '/testimonials', :title => 'Testimonials', :class => "#{'selected' if params[:section] == 'testimonials'}"} Testimonials
            %a{:href => '/links', :title => 'Links', :class => "#{'selected' if params[:section] == 'links'}"} Links
            %a{:href => '/contact', :title => 'Contact', :class => "#{'selected' if params[:section] == 'contact'}"} Contact
        .heading
          %h1{:id => 'content'}= @content_title
          %h1{:id => 'sidebar'} Digital Elevations
      %section
        .content
          = yield
        .sidebar
          %figure
            %img{:src => '/images/elevations/elevation_1.png', :alt => 'elevation_1'}
            %figcaption 17812 Bel Air Circle Omaha, NE 68136
          %figure
            %img{:src => '/images/elevations/elevation_2.png', :alt => 'elevation_2'}
            %figcaption 17201 Colony Drive Omaha, NE 68136
          %figure
            %img{:src => '/images/elevations/elevation_3.png', :alt => 'elevation_3'}
            %figcaption 19016 Pierce Plaza Circle Omaha, NE 68130
          %figure
            %img{:src => '/images/elevations/elevation_4.png', :alt => 'elevation_4'}
            %figcaption 948 South 198th Street Elkhorn, NE 68022
          %figure
            %img{:src => '/images/elevations/elevation_5.png', :alt => 'elevation_5'}
            %figcaption 21401 Walnut Street Elkhorn, NE 68022
      %footer
        %h1 Muhle Custom Contracting
        %p P: 402.709.4334
        %p
          E:
          %a{:href => 'mailto:chadmuhle@yahoo.com'} chadmuhle@yahoo.com